/* Colors */

:root {
    --green: #5fa777;
    --green-shadow: rgba(95, 167, 119, 0.2);
    --red: #ff6962dd;
    --accent: #91a5ff;
    --grey: #E3E3E3;
    --light-grey: #F3F3F3;
}

body {
  padding: 20px;
  font-family: Inter;
  align-items: center;
  align-content: center;
  text-align: center;
}

#logo {
    position: fixed;
    text-align: left;
    top: 20px;
    left: 20px;
}

/* #session-selector-container { */
/*     position: fixed; */
/*     text-align: left; */
/*     height: 50px; */
/*     top: 28px; */
/*     left: 30px; */
/* } */

#session-select {
    height: 50px;
    margin: 0;
    padding-left: 20px;
    padding-right: 30px;
    background-color: var(--accent);
    color: white;
    font-size: 16px;
    border: none;
    border-right: 16px solid transparent
}
#session-select:hover {
  box-shadow: 0 0 10px 1px var(--accent);
  transition: box-shadow 0.2s;
}

img {
    width: 64px;
    height: auto;
}


h1 {
  font-size: 64px;
  font-weight: normal;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-entry {
  width: 45%;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
  text-align: center;
  color: white;
  will-change: transform;
  transition: transform 0.5ms;
}

/* .list-entry:hover { */
/*     transform: scale(1.03); */
/* } */

.list-entry-left {
  width: 40%;
  padding-right: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: right;
  background-color: var(--color);
}

.list-entry-right {
  width: 40%;
  padding-left: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-content: right;
  text-align: left;
  background-color: var(--color);
}

.list-entry-center {
  width: 20%;
  text-align: center;
  color: black;
  cursor: pointer;
}

.list-entry-name {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 50px;
  text-align: left;
  background-color: var(--color);
  color: black;
}

.list-entry-wins {
  width: 20%;
  height: 100%;
  text-align: center;
  color: black;
  background-color: var(--color);
}

.list-entry-rank {
  width: 20%;
  height: 100%;
  text-align: center;
  color: black;
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
  /* font-family: sans-serif; */
  min-width: 400px;
  text-align: left;
  border-radius: 8px;
  color: black;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

/*.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  color: black
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: white;
  color: black
}*/
  
.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table thead td:first-child {
  border-radius: 8px 0 0 0;
}

/* top-right border-radius */
.styled-table thead td:last-child {
  border-top-right-radius: 8px;
}

/* bottom-left border-radius */
.styled-table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}

/* bottom-right border-radius */
.styled-table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}

.centered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.vertical-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.horizontal-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: auto;
  height: 50px;
  white-space: nowrap;
}

.row-element{
  display: inline-block;
}

.margin-horizontal {
    margin-left: 30px;
    margin-right: 30px;
}

.margin-right {
    margin-right: 20px;
}

.margin-bottom {
    margin-bottom: 10px;
}

#session-input-container input {
    padding-left: 30px;
    border-right: 1px solid var(--grey);
    width: 10em;
}

#match-input-container input {
    padding-left: 30px;
    border-right: 1px solid var(--grey);
    width: 12em;
}

#match-input-container #match-date {
    border-right: none;
    width: 10em;
}

#comp-search input {
    padding-left: 30px;
    border-right: 1px solid var(--grey);
    width: 12em;
}

#player-search {
    padding-left: 10px;
    padding-right: 10px;
}

input[type="date"] {
    font-family: sans-serif;
    font-size: 1em;
    display: flex;
    padding-right: 30px;
    height: auto;
}

.list-entry-sub {
    font-size: 0.8em;
    font-weight: normal;
    color: grey;
}

#match-search-container {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-left: 10px;
  background-color: var(--light-grey);
}

#reverse-sort-btn {
  display: flex;
  align-items: center;
  height: 52px;
}

input {
  border: none;
  padding-left: 10px;
  font-size: 1em;
  outline: none;
  background-color: var(--light-grey);
}

.rounded {
  border-radius: 8px; 
}

.rounded-left {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.rounded-right {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.black-shadow {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

button {
  border: none;
  padding: 0.6em 1.2em;
  color: white;
  font-size: 1em;
  font-weight: normal;
  background-color: var(--accent);
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 10px 1px var(--accent);
  transition: box-shadow 0.2s;
}

#navbar-container {
    width: auto;
    display: inline-block;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--light-grey);
}

.nav-element {
    display: inline-block;
    font-size: 1.6em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    line-height: 0;
    height: 50px;
    background-color: var(--light-grey);
}
